.container{
    background-color: salmon;
    height: 80vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    align-content: center;
    /* align-items: center; */
    /* gap: 20px 60px; */
}
.box{
    height: 100px;
    flex-basis: 100px;
    /* width: 100px; */
    border: 2px solid black;
    /* flex-grow: 1; */
}
.box2{
    order: -1;
    flex-shrink: 2;
    /* align-self: flex-end; */
    /* flex-grow: 2; */
}

@media only screen and (max-width:576px)and (min-width:100px){
    .container{
        background-color: rgb(132, 132, 232);
        flex-direction: column-reverse;
    }
    .box5{
        order: -2;
    }
}
@media only screen and (min-width:1000px){
    .container{
        background-color: bisque;
    }
}

/* @media only screen and (orientation:portrait){
 .container{
    background-color: aquamarine;
 }
} */
