*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 100vh;
    gap: 10px 50px;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: coral;
    border: 1px solid gray;
    /* margin: 5px; */
}
/* .box1{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px solid gray;
    padding: 50px;
    box-sizing: border-box;
} */