/* p, span{
    background-color: chartreuse;
    width: 900px;
    height: 1800px;
} */
.car{
    width: 900px;
    max-width: 700px;
    min-width: 500px;
}
p{
    height: 400px;
    width: 400px;
    background-color: aqua;
    /* overflow-x: scroll; */
    /* padding: 10px 100px 40px 50px; */
    padding: 20px 50px;
    /* padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 100px; */
    margin: 140px 100px;
    /* border-color: black red green blue;
    border-width: 50px;
    border-style: solid; */

    border: 20px solid yellow;
    border-radius: 40px;

}
div{
    border: 2px solid gray;
    height: 400px;
    width: 400px;
    border-radius: 200px;
    /* border-radius: 50%; */
}